Create database SchoolManagement
go
USE [SchoolManagement]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 5/8/2024 8:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NOT NULL,
	[ClassCode] [nvarchar](100) NULL,
	[ClassName] [nvarchar](100) NULL,
	[NumberOfStudent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 5/8/2024 8:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Course](
	[ClassID] [int] NOT NULL,
	[TeacherID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[Semester] [nvarchar](100) NULL,
	[NumberOfLessons] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 5/8/2024 8:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [nvarchar](20) NULL,
	[DepartmentName] [nvarchar](100) NULL,
	[FoundingDate] [datetime] NULL,
	[Image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationProgram]    Script Date: 5/8/2024 8:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationProgram](
	[EducationProgramID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[EducationProgramCode] [nvarchar](20) NULL,
	[EducationName] [nvarchar](100) NULL,
	[Status] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EducationProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradeSheet]    Script Date: 5/8/2024 8:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeSheet](
	[GradeSheetID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[FirstRegularScore] [float] NULL,
	[SecondRegularScore] [float] NULL,
	[ThirdRegularScore] [float] NULL,
	[FourRegularScore] [float] NULL,
	[MidtermScore] [float] NULL,
	[FinalScore] [float] NULL,
	[SemesterAverage] [float] NULL,
	[PromotionDecision] [bit] NUll ,
PRIMARY KEY CLUSTERED 
(
	[GradeSheetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 5/8/2024 8:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[EducationProgramID] [int] NOT NULL,
	[LessonCode] [nvarchar](100) NULL,
	[LessonName] [nvarchar](100) NULL,
	[VideoUrl] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Status] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 5/8/2024 8:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[ScheduleCode] [nvarchar](100) NULL,
	[Day] [datetime] NULL,
	[Start] [datetime] NULL,
	[End] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/8/2024 8:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[StudentCode] [nvarchar](20) NULL,
	[ClassID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 5/8/2024 8:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [nvarchar](15) NULL,
	[SubjectName] [nvarchar](100) NULL,
	[Image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 5/8/2024 8:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[LeaderID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[TeacherCode] [nvarchar](100) NULL,
	[Degree] [nvarchar](200) NULL,
	[Expertise_] [nvarchar](100) NULL,
	[University] [nvarchar](100) NULL,
	[GraduationYear] [datetime] NULL,
	[Major] [nvarchar](100) NULL,
	[OtherCertifications_] [nvarchar](200) NULL,
	[Position] [nvarchar](100) NULL,
	[Salary] [decimal](18, 0) NULL,
	[AdditionalBenifits] [nvarchar](100) NULL,
	[CurrentHealthStatus] [nvarchar](100) NULL,
	[HealthInsuranceInfo_] [nvarchar](100) NULL,
	[SelfIntroduction_] [text] NULL,
	[SubjectID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/8/2024 8:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [datetime] NULL,
	[PhoneNumber] [nvarchar](12) NULL,
	[Address] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
	[Image] [nvarchar](max) NULL,
	[Username] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Role] [nvarchar](100) NULL,
	[ActiveStatus] [tinyint] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([ClassID], [TeacherID], [ClassCode], [ClassName], [NumberOfStudent]) VALUES (1, 1, N'CL10A1', N'10A1', 30)
INSERT [dbo].[Class] ([ClassID], [TeacherID], [ClassCode], [ClassName], [NumberOfStudent]) VALUES (2, 2, N'CL10A2', N'10A2', 25)
INSERT [dbo].[Class] ([ClassID], [TeacherID], [ClassCode], [ClassName], [NumberOfStudent]) VALUES (3, 3, N'CL10A3', N'10A3', 28)
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
INSERT [dbo].[Course] ([ClassID], [TeacherID], [SubjectID], [NumberOfLessons], [StartDate], [EndDate]) VALUES (1, 1, 1, 30, CAST(N'2024-04-14T00:00:00.000' AS DateTime), CAST(N'2024-05-14T00:00:00.000' AS DateTime))
INSERT [dbo].[Course] ([ClassID], [TeacherID], [SubjectID], [NumberOfLessons], [StartDate], [EndDate]) VALUES (2, 1, 1, 25, CAST(N'2024-04-14T00:00:00.000' AS DateTime), CAST(N'2024-05-14T00:00:00.000' AS DateTime))
INSERT [dbo].[Course] ([ClassID], [TeacherID], [SubjectID], [NumberOfLessons], [StartDate], [EndDate]) VALUES (3, 3, 3, 28, CAST(N'2024-04-14T00:00:00.000' AS DateTime), CAST(N'2024-05-14T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentCode], [DepartmentName], [FoundingDate], [Image]) VALUES (1, N'DEPT001', N'Toán học', CAST(N'1990-01-01T00:00:00.000' AS DateTime), N'https://example.com/toanhoc.jpg')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentCode], [DepartmentName], [FoundingDate], [Image]) VALUES (2, N'DEPT002', N'Hóa học', CAST(N'1992-05-10T00:00:00.000' AS DateTime), N'https://example.com/hoahoc.jpg')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentCode], [DepartmentName], [FoundingDate], [Image]) VALUES (3, N'DEPT003', N'Sinh học', CAST(N'1995-09-20T00:00:00.000' AS DateTime), N'https://example.com/sinhhoc.jpg')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[GradeSheet] ON 

INSERT [dbo].[GradeSheet] ([ClassID], [StudentID], [SubjectID], [FirstRegularScore], [SecondRegularScore], [ThirdRegularScore], [FourRegularScore], [MidtermScore], [FinalScore], [SemesterAverage]) VALUES (1, 31, 1, 8.1000003814697266, 8.3000001907348633, 8.6000003814697266, 8.5, 8.6000003814697266, 8.3999996185302734, 8.4333333969116211)
INSERT [dbo].[GradeSheet] ([ClassID], [StudentID], [SubjectID], [FirstRegularScore], [SecondRegularScore], [ThirdRegularScore], [FourRegularScore], [MidtermScore], [FinalScore], [SemesterAverage]) VALUES (1, 2, 1, 10, 10, 10, 10, 10, 10, 10)
INSERT [dbo].[GradeSheet] ([ClassID], [StudentID], [SubjectID], [FirstRegularScore], [SecondRegularScore], [ThirdRegularScore], [FourRegularScore], [MidtermScore], [FinalScore], [SemesterAverage]) VALUES (1, 3, 1, 5, 6, 6, 6, 6, 6, 5.8888888359069824)





GO
SET IDENTITY_INSERT [dbo].[GradeSheet] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [UserID], [StudentCode], [ClassID]) VALUES (2, 16, N'STD001', 1)
INSERT [dbo].[Student] ([StudentID], [UserID], [StudentCode], [ClassID]) VALUES (3, 17, N'STD002', 1)
INSERT [dbo].[Student] ([StudentID], [UserID], [StudentCode], [ClassID]) VALUES (4, 18, N'STD003', 1)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([SubjectID], [SubjectCode], [SubjectName], [Image]) VALUES (1, N'MATH101', N'Toán', N'https://example.com/math101.jpg')
INSERT [dbo].[Subject] ([SubjectID], [SubjectCode], [SubjectName], [Image]) VALUES (2, N'ENG101', N'Tiếng Anh', N'https://example.com/eng101.jpg')
INSERT [dbo].[Subject] ([SubjectID], [SubjectCode], [SubjectName], [Image]) VALUES (3, N'PHY101', N'Vật lý', N'https://example.com/phy101.jpg')
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (1, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0987654321', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'hoangnguyen@example.com', N'avares://SchoolManagement.UI/Assets/Images/dvquan.jpg', N'admin', N'admin', N'teacher', 1, CAST(N'2020-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (2, N'Đoàn Văn', N'Chính', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0976543210', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'doanvanchinh@gmail.com', N'avares://SchoolManagement.UI/Assets/Images/dvquan.jpg', N'student', N'student', N'teacher', 1, CAST(N'2019-12-10T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (3, N'Đức', N'Lê', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0965432109', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'ducle@example.com', N'avares://SchoolManagement.UI/Assets/Images/dvquan.jpg', N'ducle', N'duc@123', N'teacher', 1, CAST(N'2020-02-15T00:00:00.000' AS DateTime), NULL)

--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))
--INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Email], [Image], [Username], [Password], [Role], [ActiveStatus], [StartDate], [EndDate]) VALUES (52, N'Doan Van', N'Quan', N'Nam', CAST(N'2008-05-12T00:00:00.000' AS DateTime), N'0867687695', N'Vi?t Ti?n, Vi?t Yên, B?c Giang', N'dvquan210502@gmail.com', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-05-06T12:27:54.873' AS DateTime), CAST(N'2024-05-06T12:27:54.873' AS DateTime))


SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EducationProgram]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EducationProgram]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[GradeSheet]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[GradeSheet]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GradeSheet]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[GradeSheet]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD FOREIGN KEY([EducationProgramID])
REFERENCES [dbo].[EducationProgram] ([EducationProgramID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
